body{
    margin:0;
    padding:0;
    background-image: url("r.jpg") ;
}

.kraj{
    width: 400px;
    border: 5px soild black;

}
.kraj p{
    display: block;
    font-size: 25pt;
    font-family: fantasy;
    color:black;
    margin-top: 50px;
    border: 5px soild black;
}