body{
    margin: 0;
    padding: 0;
    background-image: url("1.jpg");
}

.pravila{
    width:500px;
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    padding: 15px;
    border-style: solid;
    background-color: darkorchid;
}

p{
    font-size: 13pt;
    font-style: italic;
    color: black;
    text-align: justify;

}

h1{
    color:white;
    
    

#start{
    float: right;
    color: black;
    font-size: 10pt;
}

button{
    background-color: pink;
    color:darkorchid;
    width: 300px;
    
}