body{
    margin: 0;
    padding: 0;
    background-image: url("2.jpg");
}

.pravila{
    width:500px;
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    padding: 15px;
}

p{
    font-size: 15pt;
    font-style: italic;
    color: black;
    text-align: justify;

}

h1{
    color: black;
    

#start{
    float: right;
    color: black;
    font-size: 10pt;
}

button{
    background-color: pink;
    color: black;
    width: 200px;
}