body
{
	background-color: rgba(245,135, 236, 0.5);
}

img{
	width: 500px;
	margin-top: 25px;
	height: 300px;
}
h3{
	margin-top: 45px;
}
h1{
	font-family: URW Chancery L; 
	font-style: italic; 
}
p{
	font-size: 20px;
}