body {
	margin:0;
	padding: 0;
	background-color: #EEEEEE;
}
h1{
font-size: 24pt;
font-family: Georgia;
text-shadow: 3px 3px #999999;
text-align: center;
}
.head{
	background-image: url("images/rbg.png");
}
.left{
	float:left;
	width:70%;
	background-image: url("images/background.png");
}
.right{
	float:left;
	width:30%;}
	
.centar{	
	background-color: #A2B964 ;
	margin: auto;
	width: 55%;
	padding:0;
	box-shadow: 5px 5px 5px grey;
}
.slika{
	float: left;
	width: 100%;
}
.procenti{
	color: red;
	font-size: 48pt;
	font-family: Arial;
	font-style: bold;
	vertical-align: text-bottom;
}
.clear::after, .clear1::after{
	content: "";
	clear:both;
	display: table;
}
.tekstdesno{
	padding: 15px;
	font-size: 12pt;
	font-family: Arial;
}
dt{
	margin-top: 15px;
	font-weight: bold;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer{
	text-align: center;
	padding: 0.5em;
	font-weight: bold;
}
#w3c{
	text-align: right;

}
.quotebubble{
	font-size: 13pt;
	font-family: Georgia;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	border-radius: 12px;
	padding: 1em;
}